body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#header img {
    width: 10%;
    margin: auto;
}

#myCanvas {
    margin: auto;
    padding: 10px;
    display: flex;
    width: 75%;
}

@font-face {
    font-family: headerFont;
    src: url(AurebeshEnglishRegular-rjeO.ttf);
}

h1 {
    font-family: headerFont;
    color: white;
}
